*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    height: 100%;
}
body {
    font-family: 'Open Sans', sans-serif;
    background-image: linear-gradient(to right bottom, #641da7c7, #5a2fb1d3, #921eafd0), url(./img/img\ 3.jpeg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    font-size: 1.8rem;
    background-attachment: fixed; 
    position: relative;   
}
.header {
    width: 60vw;
    margin: 0 auto;
}
#title {
    font-size: 4rem;
    font-weight: 300;
    font-family: 'Arvo', serif;
    color: #fff;
    text-align: center;
    margin: 1rem;  
    padding-top: 6rem;
    
}
#description {
    text-align: center;
    color: #fff;
    font-weight: 300;
    margin-top: 1rem;
}
#survey-form {
    height: 100;
    width: 55%;
    background-color: rgba(42, 11, 65, 0.85);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: .5rem;
    box-shadow: .2rem .3rem .4rem #000;
    margin-top: 30rem;
    padding: 4rem;
    display: table;
}
.form-label {
   color: #fff;
   font-weight: 700;
   
} 
.form-input {
    width: 100%;
    padding: .8rem;
    border-radius: .5rem;
    border-style: none;
    margin: 1rem 0;
    font-size: 1.7rem;
    margin-bottom: 2.5rem;
} 
.form-input:hover{
    border-bottom: ;
}
.opt {
      font-size: 1.3rem;
}
.form-para {
    color: #fff;
    font-weight: 700;
    padding: 1.6rem 0;
    margin-bottom: -1.5rem;
    
}
.choose option {
   color: #333;
}
input[type="radio"],
input[type="checkbox"] {
    margin: 1.3rem ;
}
.radio,
.checkbox {   
    color: #fff;
    font-weight: 700;
    font-size: 1.7rem;
}
